@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;600&display=swap");

body {
    font-family: "Crimson Text", "Noto Serif SC", serif;
    line-height: 1.5em;
    box-sizing: border-box;
}

@page {
    size: A4;
    margin: 20mm;
}

@media screen {
    body {
        margin: 0 auto;
        width: calc(100% - 60px);
        max-width: 768px;
        padding: 0;
    }

    a {
        color: #007bff;
        text-decoration: none;
    }
}

@media screen and (min-width: 768px) {
    body {
        font-size: 1rem;
    }
}

@media screen and (max-width: 767px) {
    body {
        font-size: 0.875rem;
    }
}

@media print {
    a {
        color: black;
        text-decoration: none;
    }

    a::after {
        content: " ("attr(href) ")";
        font-size: smaller;
        color: gray;
        font: "Arial", sans-serif;
    }
}

p {
    font-size: 12pt;
    margin: 0 0 1em;
}

li {
    break-inside: avoid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1em 0 0.5em;
    font-weight: bold;
    line-height: 1em;
}

h1 {
    font-size: 32pt;
    border-bottom: 1px solid lightgray;
    padding-bottom: 0.5em;
}

h2 {
    font-size: 24pt;
}

h3 {
    font-size: 18pt;
}

h4 {
    font-size: 16pt;
}

h5 {
    font-size: 14pt;
}

h6 {
    font-size: 12pt;
}

code {
    font-family: "Fira Code", monospace;
    font-size: 8pt;
    background-color: #f0f0f0;
    padding: 2px 4px;
    border-radius: 4px;
    page-break-inside: avoid;
}

p code,
li code {
    font-size: 10pt;
}