@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&display=swap");

body {
    font-family: "Crimson Text", "Noto Serif SC", serif;
    line-height: 1.5em;
    box-sizing: border-box;
}

@page {
    size: A4;
    margin: 20mm;
}

@media screen {
    body {
        margin: 0 auto;
        width: calc(100% - 60px);
        max-width: 768px;
        padding: 0;
        color: #333;
        background-color: floralwhite;
    }

    a {
        color: #007bff;
        text-decoration: none;
    }
}

@media print {
    body {
        background-color: none;
        color: black;
    }

    a {
        color: black;
        text-decoration: none;
    }

    a:not(.footnote-ref)::after {
        content: "("attr(href) ")";
        display: inline-block;
        max-width: 50ch;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: smaller;
        color: gray;
        font-family: "Arial", sans-serif;
        vertical-align: bottom;
        margin-left: 1ch;
    }

    .footnote-backref {
        display: none;
    }

    input[type="checkbox"] {
        width: 14pt;
        height: 14pt;
        border: 1px solid black;
        appearance: none;
        margin-right: 10pt;
    }

    input[type="checkbox"]:checked::before {
        content: "🗸";
        font-size: 24pt;
        line-height: 0;
        position: relative;
        left: -2pt;
        bottom: -1pt;
    }

    pre {
        background-color: #f0f0f0 !important;
    }

    code {
        background-color: #f0f0f0 !important;
    }

    .mermaid {
        min-height: 200px;
    }

    .mermaid svg {
        max-height: 90vh;
    }
}

p {
    font-size: 12pt;
    margin: 0 0 1em;
    orphans: 3;
    widows: 3;
}

ul,
ol {
    padding-left: 24pt;
}

li,
ul,
ol {
    break-inside: avoid;
}

hr {
    color: gray;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1em 0 0.5em;
    font-weight: bold;
    line-height: 1em;
    page-break-after: avoid;
}

@media screen {
    h1::before {
        content: "";
        display: block;
        height: 96pt;
    }
}

h1 {
    font-size: 32pt;
    border-bottom: 1px solid gray;
    padding-bottom: 0.5em;
}

h2 {
    font-size: 24pt;
}

h3 {
    font-size: 18pt;
}

h4 {
    font-size: 16pt;
}

h5 {
    font-size: 14pt;
}

h6 {
    font-size: 12pt;
}

code {
    font-family: "JetBrains Mono", monospace;
}

pre {
    page-break-inside: avoid;
    background-color: antiquewhite;
    border-radius: 6px;
    overflow-x: auto;
    font-size: 8pt;
    line-height: 1.33em;
    padding: 16pt;
}

pre::-webkit-scrollbar {
    display: none;
}

pre {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

img {
    display: block;
    margin: 0 auto;
    max-width: calc(100% - 7pt);
}

p code,
li code {
    font-size: 9pt;
    background-color: antiquewhite;
    color: black;
    padding: 1px 2px;
    border-radius: 4px;
}

.hljs {
    padding: 0 !important;
    background: none !important;
}

.mermaid {
    page-break-inside: avoid;
    display: flex;
    justify-content: center;
}

.mermaid svg {
    max-width: 100%;
    height: auto;
    width: auto;
}